/* Estilos gerais */
.documentacao {
  padding: 60px 20px;
  background-color: var(--light-blue);
  text-align: center;
}

.documentacao-content {
  max-width: 1200px;
  margin: 0 auto;
}











/* Animações */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .documentacao-title {
      font-size: 2rem;
  }

  .documentacao-text {
      font-size: 1rem;
  }

  .documentacao-image {
      width: 250px; /* Tamanho ajustado para tablets */
      height: 166.67px; /* Mantendo a proporção */
  }
}

@media (max-width: 480px) {
  .documentacao-title {
      font-size: 2rem;
  }

  .documentacao-text {
      font-size: 0.9rem;
  }

  .documentacao-image {
      width: 200px; /* Tamanho ajustado para dispositivos móveis */
      height: 133.33px; /* Mantendo a proporção */
  }
}